h1 {
    padding: 5px;
    background-color: #e6e6e6;
}
h4 {
    padding-left: 20px;
    color: #e6e6e6;
}
tr.mn {
    text-align: center;
    background-color: #e6e6e6;
}
.tbl {
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    line-height: 30px;
}