{% extends "base.html" %}

{% block content %}
    <h2 align="center">Departments</h2>
    {% if current_user.is_authenticated %}
        <div class="edit_jobs">
            <a href="/add_departments" class="btn btn-secondary">Добавить</a>
            <a href="/" class="btn btn-secondary">Вернуться к работам</a>
        </div>
    {% endif %}
    {% for item in departments %}
        <h3>Department {{ loop.index }}</h3>
        <table class="tbl">
            <tr class="mn">
                <td>Title of department</td>
                <td>Chief</td>
                <td>Members</td>
                <td>Email</td>
            </tr>
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.chief.surname }} {{ item.chief.name }}</td>
                <td>{{ item.members }}</td>
                <td>{{ item.email }}</td>
            </tr>
        </table>
        {% if current_user.is_authenticated and current_user == item.chief or current_user.id == 1 %}
            <div class="edit_jobs">
                <a href="/edit_departments/{{ item.id }}" class="btn btn-warning">Изменить</a>
                <a href="/departments_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}